<ng-container *ngIf="courses$ | async; let courses; else noData">
  <mat-sidenav-container class="container" [hasBackdrop]="true">

    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true">
      <app-course-details *ngIf="selectedCourse" [course]="selectedCourse"></app-course-details>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="secondary">
        <mat-toolbar-row>
          <h1>FRONTEND BOOTCAMP</h1>
        </mat-toolbar-row>
        <mat-toolbar-row>

        </mat-toolbar-row>
      </mat-toolbar>

      <app-courses-list [courses]="courses" (courseSelect)="onCourseSelect($event)"></app-courses-list>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>

<ng-template #noData>
  Oops, something went wrong
</ng-template>
